<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- SEO component -->
    <%- include('./components/seo', {type}); %>
    <frame
      http-equiv="Content-Security-Policy"
      content="frame-ancestors 'self' https://buttercms.com;"
    ></frame>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://buttercms.com/static/v2/images/favicon.png"
    />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/lineicons.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="preload"
      href="/css/tiny-slider.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- No JS fallback for tiny-slider -->
    <noscript><link rel="stylesheet" href="/css/tiny-slider.css" /></noscript>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <%- include('./components/loader') %> <% if(!API){%> <%-
    include('./sections/no-api-hero') %> <% } else { %> <%-
    include('./sections/header', {menuItems}) %> <%- body%> <%-
    include('./sections/footer', {menuItems}) %> <% } %>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- =================== JS All Templates ========================= -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/main.js"></script>

    <!-- ================= JS Index HTML only ========================= -->
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/client-slider.js"></script>
    <script src="/js/section-menu.js"></script>
  </body>
</html>
